<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <H1>This is the home page 1+2</H1>
    <h2><%= 1+2 %></h2>


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, praesentium fuga. Molestiae deserunt optio cupiditate libero quas! Tempora possimus doloribus nam tempore, ad velit laudantium distinctio et voluptatibus voluptatem pariatur! Dicta possimus, libero suscipit distinctio ipsum temporibus aperiam laudantium quasi architecto sint. Quo dignissimos commodi harum iste. Sapiente eaque aliquid inventore quae. Aperiam inventore, exercitationem assumenda facere temporibus veniam, laborum, mollitia odit neque iure fugiat eos dolores similique itaque repellendus corporis fugit quaerat adipisci consequuntur enim quibusdam dolor voluptas! Repudiandae possimus neque optio recusandae veniam ad, perferendis atque veritatis dolore ipsum dolores autem voluptates ea molestiae deserunt similique soluta! Officia.</p>
    <button>click me</button>
    
</body>
</html>