<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit user profile</title>
</head>
<body>
    <h1>connection is successfull</h1>
    <hr>
    <h2>your username is <%= user.email%></h2>
    <form  method="post"action="/edit/<%=user.id%>?_method=PATCH">
    <input type="text" name="username" placeholder="enter new name">
    <input type="password" name="password" placeholder="enter password">
    <button>edit</button>
    </form>
</body>
</html>