<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Detailed Post</title>
</head>
<body>
  <h1>The Account of <%= post.username %></h1>
  <p>This post has the unique ID: <%= post.id %></p>
  <p>Comment: <%= post.comment %></p>

  <a href="/posts">← Back to All Posts</a>
</body>
</html>
